.flex{
    display: flex;
    padding: 30px auto;
}
 

  

.box{
    background-color: white;
    height: 120%;
    width: 80%;
    border: 2px solid ;
    margin-left: 95px;
    margin-top: 100px;
    border-radius: 2%;
    box-shadow: 0px 0px 10px white;
    overflow: hidden;
    display: flex;
    animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
    from{
        transform: translateX(-100%); opacity: 0;
    }
    to{
        transform: translateX(0); opacity: 1;
    }
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left:15%;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 15px;
   padding-right: 600%;
}

iframe{
   display: inline-flex;
    padding-right: 50%;
    
}

p{
    font-family: "Raleway", sans-serif;
    margin-top: 3%;
    margin-left: 6%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.732);
}

h2{
    margin-top: 10%;
    margin-left: 6%;
}

button{
    color: white;
    background-color:rgb(45, 217, 6);
    border-radius: 10px;
   padding-top: 3%;
   padding-left: 3%;
   cursor: pointer;
   transition: transform 2 ease-in-out;
}

button:hover{
    background-color: rgb(0, 255, 251);
    transform: scale(1.1);
}